@unocss;

@layer base {
  body {
    font-family: "Inter", sans-serif;
    background-color: theme("colors.secondary.900");
    color: theme("colors.secondary.50");
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Clash Grotesk", sans-serif;
    filter: blur(3px);
    will-change: filter;
  }
  p {
    filter: blur(3px);
    will-change: filter;
  }
}

h2 {
  @apply text-4xl text-secondary-50 font-semibold mb-4;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

section {
  padding: theme("padding.section");
  @apply border-t-1 border-x-1 border-solid border-amber bg-secondary-900;
}
