---
import BasicLayout from "../layouts/BasicLayout.astro";
import Navbar from "../components/Navbar.astro";
import Contact from "../components/Sections/Contact.astro";
import BookmarkSvg from "../components/BookmarkSvg.astro";
---

<script>
  document
    .getElementById("get-in-touch")
    ?.addEventListener("click", function () {
      const targetElement = document.getElementById("contact");
      if (targetElement) {
        targetElement.scrollIntoView({ behavior: "smooth" });
      }
    });
</script>
<BasicLayout title="Home" description="Home Page">
  <div
    slot="loader"
    class="loader star-clip-path bg-secondary-900 text-neutral-50 text-3xl font-black uppercase flex justify-center items-center w-screen h-screen z-50 fixed top-0 bottom-0 right-0 left-0 w-screen h-screen"
  >
  </div>

  <div class="w-screen h-screen sticky top-0 dotted-bg">
    <Navbar />
    <div
      class="h-body-with-navbar w-full flex flex-col justify-center items-center gap-10"
    >
      <div class="flex flex-col justify-center items-center gap-2.5">
        <!-- <h1 class="text-6xl md:text-8xl/[0.7] xl:text-9xl/[0.8] font-bold">
          Diadema <br />
          <span class="font-normal">Studio</span>
        </h1> -->
        <svg
          viewBox="0 0 515 188"
          fill="none"
          class="w-full h-auto"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M37.5604 86.5088H0.568359V0.748779H37.5604C65.7204 0.748779 81.2084 16.4928 81.2084 43.6288C81.2084 70.7648 65.7204 86.5088 37.5604 86.5088ZM36.2804 22.3808H24.6324V64.8768H36.2804C51.3844 64.8768 55.2244 61.6768 55.2244 43.6288C55.2244 25.5808 51.3844 22.3808 36.2804 22.3808Z"
            fill="#E0E0E8"></path>
          <path
            d="M111.739 14.8288H87.8034V0.748779H111.739V14.8288ZM111.867 86.5088H87.8034V20.7168H111.867V86.5088Z"
            fill="#E0E0E8"></path>
          <path
            d="M137.601 87.7888C126.337 87.7888 117.633 81.7728 117.633 69.7408C117.633 59.5008 124.289 53.3568 138.241 51.0528L159.233 47.7248V45.4208C159.233 41.3248 157.825 39.9168 150.785 39.9168C143.745 39.9168 142.081 41.1968 142.081 45.1648V47.2128H119.169V45.6768C119.169 29.4208 131.969 19.4368 151.681 19.4368C172.033 19.4368 182.145 28.5248 182.145 47.0848V86.5088H159.617V78.5728H158.465C155.649 82.6688 149.889 87.7888 137.601 87.7888ZM139.649 67.5648C139.649 69.8688 141.057 70.3808 145.537 70.3808C154.881 70.3808 158.849 67.9488 159.233 61.8048L143.233 64.4928C140.673 64.8768 139.649 65.7728 139.649 67.5648Z"
            fill="#E0E0E8"></path>
          <path
            d="M213.507 87.7888C196.867 87.7888 187.523 74.3488 187.523 53.6128C187.523 32.8768 196.611 19.4368 214.019 19.4368C223.491 19.4368 229.891 23.4048 232.707 29.4208H233.859V0.748779H257.795V86.5088H235.395V77.5488H234.627C231.043 83.6928 224.131 87.7888 213.507 87.7888ZM211.459 53.6128C211.459 62.4448 212.739 66.7968 222.723 66.7968C230.275 66.7968 233.859 65.0048 233.859 55.9168V51.1808C233.859 42.2208 230.275 40.3008 222.723 40.3008C212.611 40.3008 211.459 44.7808 211.459 53.6128Z"
            fill="#E0E0E8"></path>
          <path
            d="M296.806 87.7888C275.43 87.7888 263.398 75.2448 263.398 54.2528C263.398 32.4928 275.686 19.4368 297.574 19.4368C318.822 19.4368 329.446 31.8528 329.446 49.3888C329.446 52.9728 328.806 56.9408 328.422 59.1168H285.798C286.182 66.1568 288.358 67.8208 297.19 67.8208C302.95 67.8208 304.87 66.6688 304.87 63.7248V63.4688H328.678V65.0048C328.678 78.3168 316.39 87.7888 296.806 87.7888ZM296.294 38.3808C288.87 38.3808 286.182 40.6848 285.798 46.0608H306.534C306.406 41.8368 304.23 38.3808 296.294 38.3808Z"
            fill="#E0E0E8"></path>
          <path
            d="M358.739 86.5088H334.803V20.7168H357.203V30.7008H358.355C361.939 23.4048 369.491 19.4368 378.579 19.4368C389.331 19.4368 395.859 23.9168 399.187 30.7008H400.339C404.819 23.2768 412.243 19.4368 421.843 19.4368C438.867 19.4368 445.267 30.8288 445.267 44.3968V86.5088H421.203V49.3888C421.203 42.3488 419.667 40.0448 411.859 40.0448C404.307 40.0448 402.003 41.9648 402.003 49.0048V86.5088H377.939V49.3888C377.939 42.3488 376.403 40.0448 368.595 40.0448C361.043 40.0448 358.739 41.9648 358.739 49.0048V86.5088Z"
            fill="#E0E0E8"></path>
          <path
            d="M470.226 87.7888C458.962 87.7888 450.258 81.7728 450.258 69.7408C450.258 59.5008 456.914 53.3568 470.866 51.0528L491.858 47.7248V45.4208C491.858 41.3248 490.45 39.9168 483.41 39.9168C476.37 39.9168 474.706 41.1968 474.706 45.1648V47.2128H451.794V45.6768C451.794 29.4208 464.594 19.4368 484.306 19.4368C504.658 19.4368 514.77 28.5248 514.77 47.0848V86.5088H492.242V78.5728H491.09C488.274 82.6688 482.514 87.7888 470.226 87.7888ZM472.274 67.5648C472.274 69.8688 473.682 70.3808 478.162 70.3808C487.506 70.3808 491.474 67.9488 491.858 61.8048L475.858 64.4928C473.298 64.8768 472.274 65.7728 472.274 67.5648Z"
            fill="#E0E0E8"></path>
          <path
            d="M36.4084 187.789C12.6004 187.789 2.23236 175.245 2.23236 160.525V158.605H11.3204V160.013C11.3204 171.917 17.5924 179.341 36.6644 179.341C50.8724 179.341 57.5284 174.605 57.5284 164.749C57.5284 155.149 53.1764 151.565 40.2484 148.749L25.4004 145.421C11.9604 142.605 2.74436 136.461 2.74436 122.637C2.74436 110.221 12.9844 99.4688 33.3364 99.4688C55.6084 99.4688 65.3364 113.037 65.3364 126.989V128.653H56.2484V127.245C56.2484 115.469 50.1044 107.917 33.2084 107.917C19.0004 107.917 11.9604 112.653 11.9604 121.997C11.9604 131.725 16.6964 134.541 29.2404 137.485L44.0884 140.941C58.2964 144.141 66.7444 150.797 66.7444 164.237C66.7444 177.293 56.6324 187.789 36.4084 187.789Z"
            fill="#E0E0E8"></path>
          <path
            d="M100.436 186.637C88.7884 186.637 82.0044 182.029 82.0044 168.589V131.213H71.3804V123.277H82.1324L84.3084 107.149H91.2204V123.277H111.188V131.213H91.2204V169.101C91.2204 176.525 94.6764 178.189 102.868 178.189H111.188V185.613C109.012 185.997 105.044 186.637 100.436 186.637Z"
            fill="#E0E0E8"></path>
          <path
            d="M144.189 187.789C127.677 187.789 119.997 176.397 119.997 161.293V123.277H129.213V160.013C129.213 173.709 134.717 179.725 147.133 179.725C158.781 179.725 166.717 173.581 166.717 158.733V123.277H175.805V186.509H167.485V172.557H167.101C164.541 179.853 157.373 187.789 144.189 187.789Z"
            fill="#E0E0E8"></path>
          <path
            d="M215.222 187.789C197.43 187.789 187.446 174.861 187.446 154.893C187.446 134.925 196.918 121.997 214.198 121.997C226.358 121.997 234.166 128.397 236.854 135.309V100.749H246.07V186.509H237.878V174.349H237.366C234.55 182.285 227.126 187.789 215.222 187.789ZM196.662 154.893C196.662 174.221 204.214 179.853 216.758 179.853C229.302 179.853 236.854 173.325 236.854 160.397V149.517C236.854 136.461 229.302 129.933 216.758 129.933C204.342 129.933 196.662 135.565 196.662 154.893Z"
            fill="#E0E0E8"></path>
          <path
            d="M269.085 114.829H259.997V100.749H269.085V114.829ZM269.085 186.509H259.997V122.509H269.085V186.509Z"
            fill="#E0E0E8"></path>
          <path
            d="M310.541 187.789C291.981 187.789 279.821 174.093 279.821 154.893C279.821 135.693 291.981 121.997 310.541 121.997C328.973 121.997 340.749 135.693 340.749 154.893C340.749 174.093 328.973 187.789 310.541 187.789ZM310.541 179.597C325.773 179.597 331.789 170.637 331.789 154.893C331.789 139.149 325.773 130.317 310.541 130.317C295.053 130.317 288.909 139.149 288.909 154.893C288.909 170.637 295.053 179.597 310.541 179.597Z"
            fill="#E0E0E8"></path>
        </svg>

        <p class="text-2xl text-secondary-300">Innovate, Design, Inspire</p>
      </div>
      <button
        id="get-in-touch"
        class="rounded-lg bg-amber px-5 py-2.5 text-secondary-900 font-semibold"
        >Get in touch</button
      >
    </div>
  </div>
  <section
    class="relative w-[calc(100vw-4rem)] mx-auto mt-[-2rem] h-[calc(100vh-1rem)] sticky top-[1rem] rounded-t-2xl"
  >
    <BookmarkSvg />

    <h2>Projects</h2>
  </section>
  <section
    class="relative w-[calc(100vw-3rem)] mx-auto h-[calc(100vh-2rem)] sticky top-[2rem] rounded-t-2xl"
  >
    <BookmarkSvg />

    <h2>About</h2>
  </section>
  <section
    class="relative w-[calc(100vw-2rem)] mx-auto h-[calc(100vh-3rem)] sticky top-[3rem] rounded-t-2xl"
  >
    <BookmarkSvg />

    <h2>Services</h2>
  </section>
  <Contact />
</BasicLayout>
