---
import Logo from "./Logo.astro";
---

<header class="w-full flex flex-col h-navbar sf">
  <div class="w-full p-5 h-20 flex justify-center items-center">
    <Logo />
  </div>
  <nav class="w-full flex justify-center items-center gap-10">
    <a class="cursor-pointer">Projects</a>
    <a class="cursor-pointer">About</a>
    <a class="cursor-pointer">Services</a>
  </nav>
</header>
